$radius: 5px;

#root {
  padding: 1rem;
}

.box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: $radius;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.search-results {
  padding: 0;
  margin: 0;
  width: 100%;

  .result-row {
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0.3rem 1rem;

    &-header {
      font-weight: bold;
      background-color: #222;
      color: white;
      padding-top: 0.6rem;
      padding-bottom: 0.4rem;
    }

    &-entry {

      &:hover,
      &.selected {
        background-color: #e3e3e3;
      }
    }

    div {
      width: 50%;
      display: table-cell;
    }

    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      // padding-top: .6rem;
    }

    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      // padding-bottom: .6rem;
    }
  }
}

.top-box {
  // padding: 1rem 1rem;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;

  .title {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

th {
  text-align: left;
  font-size: 1rem;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

.pokemon-info {
  display: flex;
  background-color: #f9f9f9;

  .sprite {
    width: 80px;
    background-position: center;
    margin: 0.2rem 0.4rem 0.2rem 0;
    image-rendering: pixelated;
  }

  .name-holder {
    flex: 1;

    .name {
      font-weight: bold;
      font-size: 2rem;
    }

    .other-names {
      color: gray;
      font-style: italic;

      .other-name {
        text-transform: capitalize;

        .separator {
          margin: 0.2rem;
        }
      }
    }
  }
}